<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{%block content%}
<div style="text-align: center;">
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    </form>

    <div>
            <p>
                <a href="{% url 'signup'%}">Sign Up</a> 
            </p>
            <p>
                <a href="{% url 'password_reset' %}">Reset Password</a> 
            </p>
    </div>
</div>
{% endblock %}