{% extends 'base.html' %}
{% load static %}

<title>Profile</title>

{% block content %}
<div style="text-align: center;">
    <h1>Profile</h1>
    <p>Username: {{ user }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Section: {{user.seccion}}</p>
    <p>Credits: {{ user.creditos }}</p>
    <br>
    <a href="{% url 'edit_profile' %}">edit your information</a>
    <br>
    <a href="{% url 'logout' %}">logout of {{user}} </a>

    {% if user.is_staff %}
        <p>
        </p>
        <p>
            <h2>Staff Pages</h2>
            <a href="{% url 'active_orders' %}">View Active Order</a>
        </p>
    {% endif %}

</div>

{% endblock %}