{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'merici.jpg'%}">>
    </a>
    <h1>Mister´s</h1>
    <p>[La mejor comida en el Merici.]</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.youtube.com/watch?v=thzm6oqK8O4"><span class="glyphicon glyphicon-flash"></span>ordena aqui</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span>Misters es una exerincia única, con productos como:  </h3>
      <ul>
        <li>waffles</li>
        <li>panini</li>
        <li>pizza</li>
        <li>mira el desempeño de nuestros <a href="https://www.merici.edu.mx/">alumnos</a> !</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span>dias que esta abierto</h3>
      <p>
        misters estara abierto los viernes y dias festivos como:
        <ul>
        {% for holiday in holidays %}
            <li>holiday.name</li>
        {% endfor %}
        </ul>
      </p>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
     This application was built by students from the graduation classes of 2020, 2021, etc. 
     Maybe put a picture here too and year created? 
  </div>
</div>
{% endblock %}
