{% extends "base.html" %}
{% load static %}

<style>
        body{
            background-color: powderblue;
        }

        h1{
            color: blue;
        }

        p{
            color: red;
        }
</style>

{% block content %}
<div class="container">


    <h2>Menu</h2>
        
    {% for category, food_list in menu_dictionary.items %}
       
        <h4>{{category}}</h4>
      
        {% for food in food_list%}
        <div style="width: 100%;">
            <img src="{{food.image}}" width=150 height=100 /> 
            <b>{{food.name}}:</b> ${{food.price}}
            <button style="text-align: right;" type="button">Agregar al Carrito</button>
        </div>
            <hr>
         {% endfor %}

    {% endfor %}


</div>

{% endblock %}

